<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEST VALORANT VANDAL SKIN</title>
    <link rel="icon" type="image/png" href="images/valorant.png" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>


    <div class="center">
        <div id="skins">
            <img class="skin" id="skin1"/>
            <p id="skin1Name"></p>
            <p style="font-size: 40px;">OR</p>
            <img class="skin" id="skin2"/>
            <p id="skin2Name"></p>
            <p id="count">(2/40)</p>
        </div>
        <div style="display: none;" id="winnerScreen">
            <p style="font-size: 50px;">YOUR FAVORITE VANDAL SKIN</p>
            <img id="winner"/>
            <p id="winnerName"></p>
            <button id="again" type="button" class="btn btn-secondary">Play Again</button>
            <button id="leaderboard" type="button" class="btn btn-secondary">Leaderboard</button>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="model/Skin.js"></script>
    <script src="requests.js"></script>
    <script src="script.js"></script>

</body>
</html>